@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.btn {
  padding: 8px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  word-spacing: 2px;
}
/* Navigation */

nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background: white;
  padding: 10px;
  z-index: 50;
}
.navigation,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftNav a::after {
  content: "";
  display: inline-block;
  background-color: rgb(220, 7, 7);
  height: 2px;
  width: 0%;
  margin: auto;
}
.leftNav a:hover {
  background-color: orange;
  transition: 0.3s;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.logo_container img {
  width: 107px;
}
.bar_icon {
  font-size: 32px;
}
.leftNav {
  padding-left: 2rem;
}
.leftNav a {
  color: black;
  padding: 0 1.2rem;
}
#mobile,
#close {
  display: none;
}

@media screen and (max-width: 700px) {
  #leftNavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 250px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #leftNavbar.active {
    right: 0;
  }
  #leftNavbar a {
    margin-bottom: 21px;
  }
  #mobile {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  #mobile i {
    color: #222;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: flex;
    position: absolute;
    top: 30px;
    left: 10px;
    color: #222;
    font-size: 24px;
  }
}

.page {
  width: 90vw;
  margin: 0 auto;
}
.page {
  padding-top: 2rem;
  min-height: calc(100vh - (6rem + 4rem));
}
/*
=============== 
Hero
===============
*/

.hero {
  height: 40vh;
  position: relative;
  margin-bottom: 2rem;
  background: url("images/main.jpeg") center/cover no-repeat;
  border-radius: 5px;
}
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.hero-text {
  color: white;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/*
=============== 
Recipes 
===============
*/

.recipes-container {
  display: grid;
  gap: 2rem 1rem;
}

.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  padding-bottom: 3rem;
}
.recipe-img:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.tags-container {
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  /* background: blue; */
}
.tags-container h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.tags-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tags-list a {
  text-transform: capitalize;
  display: block;
  color: rgb(44 44 44);
  transition: 0.5s;
}
.tags-list a:hover {
  color: rgb(100, 100, 246);
}
.recipe {
  display: block;
}
.recipe-img {
  height: 15rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.recipe h5 {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 1;
  color: rgb(44, 44, 44);
}
.recipe p {
  margin-bottom: 0;
  line-height: 1;
  color: rgb(44, 44, 44);
  margin-top: 0.5rem;
  letter-spacing: 1px;
}
@media screen and (min-width: 576px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
  .recipe-img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .recipes-container {
    grid-template-columns: 200px 1fr;
    gap: 1rem;
  }
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }

  .recipe p {
    font-size: 0.85rem;
  }
  .tags-container {
    order: 0;
    /* background: blue; */
  }
  .tags-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .recipe h5 {
    font-size: 1.15rem;
  }
  .recipes-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about-page {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-bottom: 3rem;
}
.about-page img {
  max-width: 500px;
}
.history {
  padding: 10px 0;
}
.history p {
  padding-top: 10px;
}

.featured-recipes h3 {
  margin-bottom: 3rem;
}

@media screen and (max-width: 950px) {
  .about-page {
    display: flex;
    flex-direction: column;
  }
}

/* tags */

.tags-wrapper {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}
.tag {
  background: rgb(32, 31, 31);
  border-radius: 5px;
  text-align: center;
  color: white;
  transition: 0.3s;
  padding: 0.75rem 0;
}
.tag:hover {
  background: rgb(109, 109, 217);
}
.tag h5,
.tag p {
  margin-bottom: 0;
}
.tag h5 {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 576px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .tags-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*contact*/
.contact-form {
  width: 100%;
  margin: 0;
}
.contact-container {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: yellow; */
}
.btn {
  margin: 15px 0;
  background-color: orange;
  border-radius: 5px;
}
.contact-info h3 {
  font-size: 32px;
}
.form {
  max-width: 450px;
  background-color: whitesmoke;
  padding: 20px;
}
.form-input {
  padding: 0.5rem 0;
  border-radius: 5px;
  border: 0.1px solid rgb(111, 108, 108);
}
.form-row {
  display: flex;
  flex-direction: column;
}
.form-label {
  padding: 8px 0;
}
.form-textarea {
  height: 120px;
  border-radius: 5px;
  border: 0.1px solid rgb(111, 108, 108);
}
.btn-block {
  width: 100%;
  margin: 1rem 0;
  background-color: rgb(64, 64, 241);
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
}

@media screen and (min-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr 450px;
    align-items: center;
  }
}

/* Footer Section */

footer {
  background-color: #fff0db;
}
.link_lists h3 {
  margin-bottom: 10px;
  color: gray;
}
.link_lists ul {
  list-style: none;
}
.link_lists ul li {
  font-size: 16px;
  margin-bottom: 5px;
}
.news_letter h3 {
  margin-bottom: 10px;
  color: gray;
}
.news_letter input {
  padding: 5px 40px;
  margin-bottom: 10px;
}
.footer_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.icon_container {
  display: flex;
  gap: 15px;
  font-size: 32px;
}
.icon a {
  color: black;
}
@media (max-width: 786px) {
  .hero {
    flex-direction: column;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }
  .hero_image img {
    width: 80%;
  }
  .hero_content {
    gap: 10px;

    padding: 0 20px;
  }
  .hero_content h1 {
    font-size: 32px;
  }
  .features {
    flex-direction: column;
  }
  .feature {
    flex-direction: column;
  }
  .grid {
    padding: 10px;
  }
  .grid-image {
    border-radius: 0px;
  }
  .footer_container {
    flex-direction: column;
  }
}

/* single-recipe */

.recipe-hero {
  display: grid;
  gap: 3rem;
}

.recipe-hero-img {
  height: 300px;
  border-radius: 5px;
}
.recipe-info p {
  color: rgb(20, 20, 20);
}
.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}
.recipe-icons i {
  font-size: 1.5rem;
  color: rgb(48, 48, 238);
}
.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.85em;
}

.recipe-icons p {
  color: rgb(24, 24, 24);
}
.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}
.recipe-tags a {
  background: rgb(48, 48, 238);
  border-radius: 5px;
  color: white;
  padding: 0.05rem 0.5rem;
  margin: 0 0.25rem;
  text-transform: capitalize;
}
@media screen and (min-width: 992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}
.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}
@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}
.single-instruction header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}
.single-instruction header p {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(48, 48, 238);
  margin-bottom: 0;
}
.single-instruction > p {
  color: rgb(24, 24, 24);
}

.single-instruction header div {
  height: 2px;
  background: rgb(58, 57, 57);
}

.second-column {
  display: grid;
  row-gap: 2rem;
}

.single-ingredient {
  border-bottom: 2px solid rgb(49, 48, 48);
  padding-bottom: 0.75rem;
  color: rgb(26, 26, 26);
}
.single-tool {
  border-bottom: 2px solid rgb(43, 42, 42);
  padding-bottom: 0.75rem;
  color: rgb(36, 35, 35);
  text-transform: capitalize;
}
